* {
  box-sizing: border-box;
}

#grandparent {
  border: 3px solid black;
  padding: 20px;
  width: 500px;
  margin: 20px auto;
}

#parent {
  border: 3px solid black;
  padding: 15px;
}

#child {
  border: 3px solid black;
  padding: 10px;
}

span {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
